@use 'reset';

body {
   // margin-top: 24px;
   // padding: 0 24px;
   font-family: var(--font-family);
   font-weight: 400;
   font-size: 18px;
   line-height: 140%;
   color: #5a6770;
}
.section {
   &__text-body {
   }

   &__text {
   }

   &__btn {
      border-radius: 8px;
      background-color: #28445d;
      padding: 14px;
      width: 100%;
      color: #fff;
      cursor: pointer;
      display: block;
      transition: all 0.4s;
      &:hover {
         color: #28445d;
         background-color: #e6f4f1;
      }
   }

   &__titile {
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 36px;
      line-height: 120%;
      color: #53575a;
   }

   &__subtitle {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      color: #5a6770;
   }

   &__column {
      max-width: 586px;
   }
}
.container {
   max-width: 1240px;
   margin: 0 auto;
}

.header {
   height: 100vh;

   padding: 24px;
   margin-bottom: 180px;
   &__wrapper {
      display: flex;
      height: 100%;
   }

   &__column {
      max-width: 50%;
      width: 100%;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
   }
   &__column--green {
      background: #e6f4f2;
      padding: 80px;
      // padding: 188px 202px 160px 202px;

      // padding: 0px 202px 0px 202px;
      // display: flex;
      // flex-direction: column;
      // height: 100%;
   }
   &__logo {
      display: flex;
      justify-content: center;
      margin-bottom: 131px;
      padding-top: 14px;
   }
   &__text {
      max-width: 747px;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 49px;
   }

   &__title {
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 48px;
      line-height: 120%;
      color: #53575a;
      margin-bottom: 20px;
   }

   &__subtitle {
      max-width: 542px;
      margin: 0 auto;
   }

   &__form {
      box-shadow:
         0 24px 41px -16px rgba(47, 45, 86, 0.1),
         0 -16px 40px -36px rgba(47, 45, 86, 0.1);
      background: #fff;
      border-radius: 20px;
      max-width: 379px;
      padding: 26px 23px;
      margin: 0 auto;
   }

   &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin-top: auto;
   }

   &__text2 {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      text-align: center;
      color: #5a6770;
      margin-bottom: 54px;
   }

   &__messages {
      margin: 0 auto;
      max-width: 413px;
      width: 100%;
   }

   &__calendar {
      border-radius: 20px;
      overflow: hidden;
      img {
         width: 100%;
         height: 100%;
         object-fit: fill;
      }
   }
}

.header-form {
   &__btn {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #53575a;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 9px;
      margin-bottom: 19px;
      border: 0.81px solid #d4e6f0;
      border-radius: 8px;
      padding: 12px;
   }

   &__description {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 12px;
      line-height: 140%;
      letter-spacing: -0.01em;
      text-align: center;
      color: #5a6770;
      span {
         text-decoration: underline;
      }
   }
}
.header-message {
   display: flex;
   gap: 13px;
   margin-bottom: 19px;
   max-width: 412px;
   &__text {
      padding: 13px;
      border-radius: 0 9px 9px 9px;
      background-color: #fff;
      max-width: 303px;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      color: #5a6770;
   }

   &__img {
      width: 41px;
      height: 41px;
      overflow: hidden;
      border-radius: 8px;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   &__text-right {
      border-radius: 0 9px 9px 9px;
   }
   &__text-left {
      border-radius: 9px 0px 9px 9px;
   }
}
.header-message.message-right {
   justify-self: flex-end;
}
.header-message.message-left {
   justify-self: flex-start;
}
.meet {
   margin-bottom: 204px;
   &__title {
      text-align: center;
      margin-bottom: 20px;
   }

   &__subtitle {
      text-align: center;
      max-width: 685px;
      margin: 0 auto;
      margin-bottom: 60px;
   }

   &__wrapper {
      display: flex;
      justify-content: space-between;
   }

   &__column {
      display: flex;
      flex-direction: column;
   }
}

.meet-accordeon {
   width: 100%;
   &__item {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: #939ba0;

      &:not(:first-child) {
         border-top: 1px solid #e2ecf0;
      }
   }

   &__header {
      padding: 22px 0;
      cursor: pointer;
      transition: all 0.4s;
      &:hover {
         color: #28445d;
      }
   }
   &__body {
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition:
         max-height 0.5s ease-out,
         opacity 0.5s ease-out;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #5a6770;
   }
}
.meet-accordeon__item:first-child > .meet-accordeon__header {
   padding: 0 0 20px 0;
}
.meet-accordeon__item.active:first-child > .meet-accordeon__header {
   padding: 0 0 8px 0;
}
.meet-accordeon__item.active {
   padding-bottom: 20px;
}
.meet-accordeon__item.active .meet-accordeon__header {
   font-family: var(--font-family);
   font-weight: 600;
   font-size: 18px;
   line-height: 140%;
   color: #53575a;
   padding: 8px 0 8px 0;
}
.meet-accordeon__item.active .meet-accordeon__body {
   max-height: 150px;
   opacity: 1;
}
.meet-form {
   &__title {
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 18px;
      line-height: 140%;
      color: #53575a;
      margin-bottom: 8px;
   }

   &__sunbtitle {
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 140%;
   }

   &__input {
      border-top: 1px solid #e2ecf0;

      padding: 22px 0;
      display: flex;

      label {
         font-family: var(--font-family);
         font-weight: 400;
         font-size: 18px;
         line-height: 140%;
         color: #939ba0;
         white-space: nowrap;
         margin-right: 10px;
      }
      input {
         outline: none;
         width: 100%;
      }
   }

   &__btn {
      max-width: 242px;
      padding: 12px 0;
      margin-top: auto;
   }
}
.smart {
   margin-bottom: 180px;
   &__wrapper {
      display: flex;
      justify-content: space-between;
   }
   &__title {
      font-weight: 700;
      font-size: 36px;
      line-height: 130%;
      margin-bottom: 20px;
   }

   &__subtitle {
      max-width: 586px;
      font-size: 18px;
      line-height: 150%;
      letter-spacing: -0.01em;
   }

   &__list {
      margin-bottom: 8px;
      li {
         padding: 22px 0;
         color: #939ba0;
         h6 {
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 18px;
            line-height: 140%;
            color: #53575a;
            margin-bottom: 8px;
         }
         p {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: #5a6770;
         }
         &:not(:last-child) {
            border-bottom: 1px solid #e2ecf0;
         }
         &:first-child {
            padding: 0;
            padding-bottom: 22px;
         }
      }
   }

   &__btn {
      max-width: 212px;
      padding: 12px 0;
      margin-top: auto;
   }
   &__card-wrapper {
      position: relative;
   }
   &__card {
      position: relative;
      background-color: #e6f4f1;
      padding: 25px 30px;
      border-radius: 20px;
      max-width: 100%;
      width: 590px;
      height: 100%;
      overflow: hidden;
   }
   &__description {
      font-style: italic;
      font-weight: 400;
      font-size: 28px;
      line-height: 150%;
      color: #53575a;
      margin-bottom: 171px;
      max-width: 343px;
   }
   &__author {
      font-family: var(--third-family);
      font-weight: 400;
      font-size: 20px;
      line-height: 140%;
      color: #5a6770;
   }

   &__column {
      display: flex;
      flex-direction: column;
   }
   &__decor-quotation {
      position: absolute;
      top: -25px;
      right: 40px;
   }
}
.smart-accordeon {
   width: 100%;
   &__item {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: #939ba0;

      &:not(:first-child) {
         border-top: 1px solid #e2ecf0;
      }
   }

   &__header {
      padding: 22px 0;
      cursor: pointer;
      transition: all 0.4s;
      &:hover {
         color: #28445d;
      }
   }
   &__body {
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition:
         max-height 0.5s ease-out,
         opacity 0.5s ease-out;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #5a6770;
   }
}
.smart-accordeon__item.active {
   padding-bottom: 20px;
}
.smart-accordeon__item.active .smart-accordeon__header {
   font-family: var(--font-family);
   font-weight: 600;
   font-size: 18px;
   line-height: 140%;
   color: #53575a;
   padding-bottom: 8px;
}
.smart-accordeon__item.active .smart-accordeon__body {
   max-height: 150px;
   opacity: 1;
}

.integrations {
   margin-bottom: 157px;
   &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__columns {
      display: flex;
      gap: 20px;
   }
   &__column {
   }
   &__column--margin-top {
      margin-top: 70px;
   }
   &__title {
      margin-bottom: 20px;
      margin-top: -14px;
   }

   &__subtitle {
      margin-bottom: 30px;
      font-size: 16px;
      line-height: 150%;
      color: #5a6770;
   }

   &__btn {
      max-width: 242px;
   }
}
.integrations-item {
   width: 182px;
   height: 189px;
   margin-bottom: 20px;
   display: flex;
   justify-content: center;
   align-items: center;

   text-align: center;
   box-shadow: 0 24px 41px -16px rgba(47, 45, 86, 0.1);
   border-radius: 9px;
   &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   &__img {
      width: 50px;
   }

   &__title {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 18px;
      line-height: 130%;
      text-align: center;
      color: #505050;
      max-width: 115px;
      margin-top: 15px;
   }

   &__logos {
      display: grid;
      grid-template-columns: 30px 30px;
      gap: 7px;
   }
}
.accolades {
   margin-bottom: 189px;
   &__title {
      margin-bottom: 60px;
      display: flex;
      justify-content: center;
   }
   &__columns {
      display: flex;
      margin: 0 auto;
      margin-left: 94px;
   }
}
.accolades-item {
   display: flex;
   flex-direction: column;
   align-items: center;
   &:not(:last-child) {
      border-right: 1px solid #e2ecf0;
      margin-right: 80px;
      padding-right: 91px;
   }
   &:first-child {
      padding: 0 87px;
      margin-right: 87px;
   }
   &__img {
   }

   &__grade {
      margin-top: auto;
      display: flex;
      align-items: center;
      gap: 6px;
      font-family: var(--third-family);
      font-weight: 700;
      font-size: 30px;
      line-height: 150%;
      color: #ffbc00;
      img {
         width: 24px;
         height: 24px;
      }
   }

   &__subtitle {
      font-weight: 500;
      font-size: 20px;
      line-height: 122%;
      color: #5a6770;
   }
}
.plans {
   margin-bottom: 176px;
   &__btn {
      max-width: 212px;
      margin: 0 auto;
   }
   &__title {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
   }

   &__subtitle {
      display: flex;
      max-width: 618px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 60px;
   }

   &__columns {
      display: flex;
      justify-content: center;
      gap: 30px;
      margin-bottom: 60px;
   }
}

.plans-item {
   background-color: #e6f4f1;
   border-radius: 20px;

   padding: 33px 30px 26px 30px;
   display: flex;
   flex-direction: column;
   max-width: 309px;
   &__title {
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 28px;
      line-height: 120%;
      color: #53575a;
      margin-bottom: 9px;
   }

   &__subtitle {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 12px;
      line-height: 140%;
      color: #5a6770;
      margin-bottom: 38px;
   }

   &__list {
      margin-bottom: 24px;
      li {
         display: flex;
         gap: 6px;
         margin-bottom: 10px;
         font-family: var(--font-family);
         font-weight: 400;
         font-size: 16px;
         line-height: 140%;
         svg {
            width: 30px;
            height: 30px;
            margin-top: -3px;
         }
      }
   }

   &__price {
      margin-top: auto;
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 48px;
      line-height: 120%;
      color: #28445d;
      margin-bottom: 12px;
   }
   &__btn {
      padding: 12px 0;
      &:hover {
         background-color: rgba(40, 68, 93, 0.8);
         color: #e6f4f1;
      }
   }
   &__btn--white {
      background-color: #e6f4f1;
      color: #28445d;
      // transition: all 0.4s;
      &:hover {
         background-color: rgba(230, 244, 241, 0.8);
         color: #28445d;
      }
   }
}
.plans-item--black {
   background-color: #28445d;
}
.plans-item--color-white {
   color: #fff;
}
.plans-item--svg-white {
   path {
      fill: #fff;
   }
}
.faq {
   margin-bottom: 180px;
   &__title {
      margin-bottom: 32px;
      display: flex;
      justify-content: center;
      text-align: center;
   }
   &__accordion {
      max-width: 968px;
      margin: 0 auto;
   }
}

.accordion-item {
   border-bottom: 1px solid #d6dee1;
   &__header {
      display: flex;
      justify-content: space-between;
      padding: 25px 0 25px 0;
      cursor: pointer;
      svg {
         transition: all 0.4s;
      }
   }

   &__title {
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 24px;
      line-height: 120%;
      color: #53575a;
   }

   &__body {
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition:
         max-height 0.5s ease-out,
         opacity 0.5s ease-out;
      max-width: 858px;
   }
}
.accordion-item.active {
   padding-bottom: 25px;
}
.accordion-item.active .accordion-item__body {
   max-height: 150px;
   opacity: 1;
}
.accordion-item.active .accordion-item__header {
   padding: 25px 0 15px 0;
   svg {
      transform: rotate(45deg);
   }
}
.accordion-item.active .accordion-item__title {
   margin-bottom: 13px;
}
.ready {
   margin-bottom: 60px;
   &__wrapper {
      background-color: #28445d;
      border-radius: 20px;
      padding: 60px 235px;
   }

   &__title {
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 48px;
      line-height: 120%;
      text-align: center;
      color: #fff;
      margin-bottom: 34px;
   }

   &__btn {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 18px;
      line-height: 109%;
      letter-spacing: 0.04em;
      color: #28445d;
      background-color: #fff;
      border-radius: 6px;
      max-width: 243px;
      margin: 0 auto;
      transition: all 0.4s;
      &:hover {
         background-color: #e6f4f1;
      }
   }
}
.navigation {
   margin-bottom: 13px;
   &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   &__list {
      display: flex;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      li {
         margin-right: 40px;
      }
      &:not(:last-child) {
         margin-bottom: 58px;
      }
      &:last-child {
         margin-left: 44px;
      }
   }
   &__list--top {
      margin-left: 49px;
   }
   &__list--bottom {
      font-size: 12px;
   }
   &__img {
      margin-bottom: 58px;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__img--logo {
      width: 47px;
      margin-bottom: 10px;
   }

   &__img--title {
   }
}
.footer {
   padding: 13px 0;
   border-top: 1px solid #d6dee1;
   display: flex;
   justify-content: center;
   font-family: var(--font-family);
   font-weight: 400;
   font-size: 12px;
   line-height: 140%;
   text-align: center;
   color: #a5adb3;
}
