:root {
   --font-family: 'Poppins', sans-serif;
   --second-family: 'Comfortaa', sans-serif;
   --third-family: 'Montserrat', sans-serif;
   --font4: 'Platypi', sans-serif;
   --font5: 'Kanit', sans-serif;
}
